* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-color: royalblue;
}

.head h1 {
    padding: 2% 5%;
}

.banner {
    height: 50vh;
    background-color: gold;
}

.banner h1 {
    color: white;
    text-align: center;
    padding-top: 20vh;
}

.mid {
    min-height: 60vh;
    background-color: whitesmoke;
}
.mid h1 {
    padding: 1%;
}

.mid p {
    background-color: teal;
    text-align: justify;
    padding: 1%;
    margin-bottom: 1vh;
}

.footer {
    background-color: royalblue;
}

.footer h4 {
    padding: 1% 5%;
}