*{ margin: 0;}
.bg1{ background-color: royalblue;}
.bg2{ background-color: gold;}
.bg3{ background-color: blueviolet;}
.bg4{ background-color: brown;}
.bg5{ background-color: yellow;}
.bg6{ background-color: turquoise;}




.head{ color: white; padding: 2%;}
